<md-toolbar flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="main.toggle()">
      <md-icon>menu</md-icon>
    </md-button>
    <p>{{ main.title }}</p>
    <div style="width: 40px; height: 40px;"></div>
  </div>
</md-toolbar>



<script type="text/javascript">
  $(window, document, undefined).ready(function() {
    $('input').blur(function() {
      var $this = $(this);
      if ($this.val())
        $this.addClass('used');
      else
        $this.removeClass('used');
    });
    var $ripples = $('.ripples');
    $ripples.on('click.Ripples', function(e) {
      var $this = $(this);
      var $offset = $this.parent().offset();
      var $circle = $this.find('.ripplesCircle');
      var x = e.pageX - $offset.left;
      var y = e.pageY - $offset.top;
      $circle.css({
        top: y + 'px',
        left: x + 'px'
      });
      $this.addClass('is-active');
    });
    $ripples.on('animationend webkitAnimationEnd mozAnimationEnd oanimationend MSAnimationEnd', function(e) {
      $(this).removeClass('is-active');
    });
  });

</script>

<div layout="column" layout-align="center center" flex>
  <img src="http://i66.tinypic.com/2yyryb8.png" style="margin:auto; margin-top: 10px;">
<form style='margin-top: 0px;'>
  <div class="group">
    <input type="number" id="DUI" maxlength="9"><span class="highlight"></span><span class="bar"></span>
    <label>DUI</label>
  </div>
  <div class="group">
    <input type="password" id="CLAVE"><span class="highlight"></span><span class="bar"></span>
    <label>CONTRASEÑA</label>
  </div>
  <script>
  function brave () {
    var nombre = document.getElementById("DUI");
    var clave = document.getElementById("CLAVE");
    console.log(nombre);
    console.log(clave);

    if(nombre.value=="052635851" && clave.value=="123456")
      window.location.href = "/app/www/#/propuesta";
    else
      alert("Usuario incorrecto");
  }

  </script>
  <button  type="button" class="button buttonBlue" onclick="brave()">ACCEDER
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <div class="group">
  </div>  
</form>
</div>
