<md-toolbar flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="detalle.toggle()">
      <md-icon>menu</md-icon>
    </md-button>
    <p>{{detalle.title }}</p>
    <div style="width: 40px; height: 40px;"></div>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Menu</h1>
  </md-toolbar>
  <md-list ng-cloak>
    <md-list-item ng-href="#">
      <md-icon style="padding-right: 16px; color: #000000">view_list</md-icon>
      <p>Propuesta</p>
    </md-list-item>
    <md-list-item ng-href="#">
      <md-icon style="padding-right: 16px; color: #000000">thumbs_up_down</md-icon>
      <p>Resultados</p>
    </md-list-item>
    <md-list-item ng-href="#">
      <md-icon style="padding-right: 16px; color: #000000">code</md-icon>
      <p>Info</p>
    </md-list-item>
    <md-list-item ng-href="#">
      <md-icon style="padding-right: 16px; color: #000000">enhanced_encryption</md-icon>
      <p>Cerrar Session</p>
    </md-list-item>
  </md-list>
</md-sidenav>

<div layout="column" layout-align="center center" flex>
 <form>
    <div layout="column" flex style="margin-left: 1em;">
      <h4 align="center">Reforma de pensiones:</h4>

      <p style="margin-top: 1em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <h4>Opciones: </h4>
      <div layout-gt-sm="row">
       Favor   <input type="radio" ng-model="color.name" value="3"> 
       
      </div>
      <div layout-gt-sm="row">
       Contra  <input type="radio" ng-model="color.name" value="4"> 
      </div>
      <h4>Deje su comentario: </h4> 
        <div layout-gt-sm="row">
          
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Comentario</label>
            <input ng-model="user.firstName">
          </md-input-container>
      </div>

  </form>      
       
      

      
    </div>
</form>




</div>